# Created by .ignore support plugin (hsz.mobi)
### TeX template
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
#*.pdf
!figures/*.pdf
## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# KBibTeX
*~[0-9]*

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# generated if using elsarticle.cls
*.spl

# IntelliJ
.idea/

# Sublime Text
.sublime-project.sublime-workspace

# Mac
*.DS_STORE


# This .gitignore file should be placed at the root of your Unity project directory.
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data.
MemoryCaptures/

# Recordings can get excessive in size.
Recordings/

# Cache directories
.vs/
.vscode/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.lsb
*.lsf
*.pidb.meta
*.booproj.meta
*.unitypackage

# Autogenerated Jetbrains Rider plugin
Assets/Plugins/Editor/JetBrains/

# Local Unity packages (from Package Manager)
# This is important! We only want to track `Packages` folder which contains references to
# official Unity packages and external packages. Local packages should be ignored.
# If you have local packages you *want* to track, you'll need to be more specific.
# For example, if you have a local package "MyLocalPackage" inside `Packages/`, you might add
# !Packages/MyLocalPackage/
Packages/*.meta
!Packages/manifest.json
!Packages/packages-lock.json

# Generated text files
*.txt.meta
*.asmdef.meta
*.asmref.meta

# Visual Studio / Rider related files
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# macOS specific files
.DS_Store

# Uncomment this line if you wish to ignore the asset store tools plugin.
# Assets/AssetStoreTools*

# If you manually copy over assets, they will include their own meta files.
# These should usually be included in version control unless the asset itself is ignored.
# !/[Aa]ssets/**/*.meta

# Built player files
/[Bb]uilds/
/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
/[Oo]bj/

# Other common ignore patterns
*.bak
*.gz
*.zip
*.rar
*.7z
